/*importamos un tipo de letra que en este caso sera roboto desde google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*asignacion de estilos globales*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

/*Contenedor*/
.contenedor {
    background-color: #ffff;
    padding-bottom: 40px;
    /*llena toda la pantalla*/
}

/* HEADER PRINCIPAL */
.header {
    position: relative;
    padding: 20px 15px;
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right,
            hsla(240, 27%, 19%, 0.534),
            hsla(245, 39%, 28%, 0.521),
            hsla(246, 55%, 10%, 0.562)),
        url(../img/brissa_logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Onda azul */
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.wave svg {
    display: block;
    width: 100%;
    height: 100%;
}

/* LOGO + NOMBRE */
.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 40px;
    left: 30px;
    z-index: 3;
}

/* Logo */
.logo {
    width: 450px;
    height: 350px;
    transform: translateY(30%);
    border-radius: 47%;
    box-shadow: 7px 7px 7px rgb(0, 0, 0);
}

/* Nombre del negocio */
.nombre-negocio {
    color: white;
    font-size: 67px;
    font-weight: bold;
    transform: translateY(30%);
    /*Desplaza el elemento en el eje Y (vertical) un 30% de su propia altura hacia abajo.*/
}

/* MENÚ DE NAVEGACIÓN */
.menu {
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 400px;
    margin-left: auto;
    /* → Alinea a la derecha */
    z-index: 4;
}

/* Estilo de los enlaces */
.menu a {
    text-decoration: none;
    color: white;
    font-size: 65px;
    z-index: 10;
}

.menu a:hover {
    color: rgb(240, 216, 5);
    text-decoration: underline;
    /*para que al pasar el mouse por encima de un subrayado */
}

/* RESPONSIVE: Dispositivos más grandes */
@media (min-width: 768px) {
    .menu {
        gap: 40px;
    }

    .menu a {
        font-size: 22px;
    }
}

@media (min-width: 992px) {
    .menu {
        gap: 60px;
    }

    .menu a {
        font-size: 24px;
    }
}

/*-----contendio de la pagina-----*/


#boton__menu {
    display: none;
}

h2,
h3 {
    font-size: 30px;
    padding: 10px;
    justify-content: center;
    color: #eee;
}

p {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #000;
}

.contenedor__inf {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
}


/*-----Direccion del estableciomiento-----*/
.direction {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.direction__title {
    background-color: #2948ff;
    font-size: 40px;
}

/*-----etiqueta del mapa-----*/
iframe {
    width: 100%;
    height: 100%;
}

.direction__map {
    width: auto;
    height: 400px;
    margin-top: 20px;
}

.inf {
    flex-direction: row;
}

.text__inf {
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin: auto;
}

.text__location {
    font-size: 30px;
}

/*-----en esta parte va el contacto de los restaurantes-----*/
.contact {
    /* es el objeto padre*/
    align-items: stretch;
    text-align: center;
    display: flex;
    justify-content: space-around;


}

/*objetos hijo*/

.contact_title {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    background-color: #2948ff;
}

.restaurant__contact,
.at-home__contact,
.social__itms {
    background-color: #DE9728;
    width: 100%;
    padding: 10px;
}

.social__itms {
    font-size: 15PX;
}

.restaurant__contact:hover,
.at-home__contact:hover,
.social__itms:hover {
    border-left: 2px solid #87878d;
    border-right: 2px solid #87878d;

}

.at-home__contact {
    background-color: #2948ff;
}

.phone__direction {
    display: flex;

}

.phone {
    padding: 5px;
    display: inline-table;
}

.phone__number {
    transition: 0.2s;

}

.phone__number:hover {
    font-size: 20px;
    color: #eee;
}

.icon {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    transition: 0.2s;

}

.icon:hover {
    font-size: 25px;
    color: #eee;
    margin: 1px;
}


/*-----Media-querist-----*/

@media(max-width:900px) {

    .header {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        height: 420px;
        padding: 30px;
        margin: 0;
    }

    /*-----alineación en el logo y el texto-----*/
    .logo-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    h1 {
        justify-content: center;
        text-align: center;
    }



    .nombre-negocio {
        align-self: auto;
        text-align: center;
        justify-content: center;
        color: white;
        font-size: 40px;
        font-weight: bold;
        margin: 0;
        top: 0;
        z-index: 5;

    }

    .logo {
        width: 250px;
        height: 150px;
        margin: 0;
        z-index: 5;
    }



    .direction__title {
        font-size: 35px;
    }

    .direction__map {
        width: 100%;
        height: 250px;
    }


    .text__inf {
        display: block;
        flex-direction: column;
    }

    .text__inf,
    .contact {
        display: flex;
        /* usar flex para aplicar flex-direction */
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /*-----La seccion del menu se trnsforma en un elemento adaptable para dispositivos moviles-----*/
    .menu {
        display: none;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-end;
    }

    #boton__menu {
        margin-left: auto;
        font-size: 40px;
        display: flex;
        justify-content: flex-start;
        color: #eee;
        cursor: pointer;
        z-index: 10;
        position:relative;
    }

    /*funcionalidad al menu hamburguesa*/
    .menu.active {
        width: 35%;
        margin: 0;
        position:absolute;

        display: flex;
        flex-direction: column;
        gap: 1px;/*define el espacio entre los elementos*/
        z-index: 10;
        /*le damos un borde y un fondo al menu*/
        border-radius: 5px;
        background-color: rgba(11, 18, 58, 0.6);
        backdrop-filter: blur(10px);
        .menu__link {
            padding: 10px;

            width: 100%;
            height: 100%;
            font-size: 20px;
            color: #fff;
            justify-content: center;
            border-bottom: 1px solid #eee;
        }
        .menu__link:hover {
            color: rgb(240, 216, 5);
            text-decoration: underline;
            /*para que al pasar el mouse por encima de un subrayado */
        }

    }


}