/*Informacion Imagen*/
.presentacion_imagen {
    max-width: 400px;
    filter: drop-shadow(0 1mm 3mm rgba(61, 187, 245, 0.507));
    position: relative;
}

/*Seccion Platos*/
.comida {
    width: 90%;
    margin-inline: auto;
}

.platos {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 90px;
}

@media (min-width: 768px) {
    .platos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .platos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.titulo_comida {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 85px;
    font-size: 43px;
}

@media(min-width: 768px) {
    .titulo_comida {
        text-align: center;
    }
}

/*Contenedor de tarjetas*/
.plato {
    width: 80%;
    margin-inline: auto;
    /*color de los contetendores*/
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; //permite dar una transicion suve

}

.plato:hover {
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #00028d;
}

.plato img {
    width: 250px;
    height: 250px;
    filter: drop-shadow(0 0 0.9rem rgb(6, 4, 124));
    margin-top: -85px;
}

/*Parrafo de los platos*/
.plato p {
    font-size: 15px;
    color: rgb(233, 233, 233);
    font-size: 20px;
}

.plato_precio {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

/*Precio en negritas para que se pueda observar*/
.plato_precio p {
    font-weight: 900;
    font-size: 20px;
    position: center;
}

.plato h1 {
    color: #ffff;
    font-size: 32px;
}

/*Informacion Imagen*/
.presentacion_imagen2 {
    max-width: 400px;
    filter: drop-shadow(0 1mm 3mm rgba(240, 243, 51, 0.733));
    position: relative;
}

/*Seccion Platos*/
.comida2 {
    width: 90%;
    margin-inline: auto;
}

.platos2 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 90px;
}

@media (min-width: 768px) {
    .platos2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .platos2 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.titulo_comida2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 85px;
    font-size: 43px;
}

@media(min-width: 768px) {
    .titulo_comida2 {
        text-align: center;
    }
}

/*Contenedor de tarjetas*/
.plato2 {
    width: 80%;
    margin-inline: auto;
    background: #396afc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2948ff, #396afc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2948ff, #396afc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; //permite dar una transicion suve

}

.plato2:hover {
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #29ffbf;
}

.plato2 img {
    width: 150px;
    filter: drop-shadow(0 0 0.9rem rgb(12, 57, 255));
    margin-top: -85px;
}

/*Parrafo de los platos*/
.plato2 p {
    font-size: 15px;
    color: rgb(233, 233, 233);
    font-size: 20px;
}

.plato_precio2 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

/*Precio en negritas para que se pueda observar*/
.plato_precio2 p {
    font-weight: 900;
    font-size: 20px;
}

.plato2 h1 {
    color: #ffff;
    font-size: 32px;
}
.platobolonch{
    width: 300px;
}